body {
  background-color: #0B1830;
  margin-right: 0;
  margin-top: 0;
}

.sidebar {
  position: fixed;
  width: 100%;
  background-color: #0B1830;
  display: flex;
  justify-content: space-between;
}

.sidebar-logo img {
  width: 180px;
  margin-left: 25px;
}

.sidebar-links {
    display: flex;
    justify-content: end;
    align-items: center;
}

.sidebar ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 0;
}

.sidebar li {
  position: relative;
  margin-right: 25px;
}

.sidebar li a {
  display: flex;
  margin-left: 25px;
  text-align: center;
  color: #CCD4F1;
  text-decoration: none;
}

.sidebar li a:hover {
  color: #75CBB6;
  transition: 0.3s;
}

.content {
  margin: 0;
}

h2 {
  margin-top: 0;
}

 /* Home */
 #home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-content {
  margin: 5rem;
}

#home h1 {
  font-size: 80px;
  text-shadow: -2px 2px 0px rgba(117,203,182,0.6);
  margin-bottom: 0;
  margin-top: 0;
  color: #CCD4F1;
  font-family: 'Roboto', sans-serif;
}

#home h2 {
  font-size: 46px;
  margin-bottom: 6px;
  color: #8A92AD;
  font-family: 'Roboto', sans-serif;
}

#home p {
  font-size: 18px;
  margin-top: 0;
  color: #8A92AD;
  font-family: 'Roboto', sans-serif;
}

.myButton {
  background-color:transparent;
  border:1px solid #75CBB6;
  display:inline-block;
  cursor:pointer;
  color:#75CBB6;
  font-family:Arial;
  font-size:16px;
  padding:15px 30px;
  text-decoration:none;
  box-shadow: -4px 4px 0px 0px #75CBB6;
  -webkit-box-shadow: -4px 4px 0px 0px #75CBB6;
  -moz-box-shadow: -4px 4px 0px 0px #75CBB6;
}

.myButton:active {
  position:relative;
  top:1px;
}

   /* About */
#about {
    height: 100vh;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img {
    float: left;
    margin: 0rem 5rem 0rem 5rem;
    width: 250px;
    box-shadow: -6px 6px 0px 0px #75CBB6;
    -webkit-box-shadow: -6px 6px 0px 0px #75CBB6;
    -moz-box-shadow: -6px 6px 0px 0px #75CBB6;
}

.about-container {
    display: inline;
    justify-content: center;
    align-items: center;
}

.about-container h2{
    display: flex;
    text-shadow: -2px 2px 0px rgba(117,203,182,0.6);
    margin-bottom: 0;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    color: #CCD4F1;
}

.about-container p {
    display: flex;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #8A92AD;
}

/* Skills */
#skills {
  height: 65vh;
  font-family: 'Roboto', sans-serif;
  padding-top: 12rem;
}

.skill-class {
  display: flex;
  justify-content: space-evenly;
}

.design {
  text-align: center;
}

.design h2 {
  color: #CCD4F1;
  text-shadow: -2px 2px 0px rgba(117,203,182,0.6);
  font-size: 60px;
}

.design p {
  color: #8A92AD;
  font-size: 18px;
}

.frontend {
  text-align: center;
}

.frontend h2 {
  color: #CCD4F1;
  text-shadow: -2px 2px 0px rgba(117,203,182,0.6);
  font-size: 60px;
}

.frontend p {
  color: #8A92AD;
  font-size: 18px;
}

.soft-skills {
  text-align: center;
}

.soft-skills h2{
  color: #CCD4F1;
  text-shadow: -2px 2px 0px rgba(117,203,182,0.6);
  font-size: 60px;
}

.soft-skills p {
  color: #8A92AD;
  font-size: 18px;
}

/* Experience */
#experience {
  height: 90vh;
  padding-top: 6rem;
  font-family: 'Roboto', sans-serif;
}

.about-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-experience h2 {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CCD4F1;
  text-shadow: -2px 2px 0px rgba(117,203,182,0.6);
  margin: 0;
}

.tech-experience p {
  text-align: center;
  padding: 0rem 5rem 0rem 5rem;
  color: #8A92AD;
  font-size: 18px;
}

.grid-item a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  width: 60%;
}

/* contact */

.contact-info a {
  color: #CCD4F1;
}

.contact-info i {
  font-size: 18px;
  margin: 1rem;
  cursor: pointer;
}

.contact-info i:hover {
  color: #e3e6f0;
}

/* Footer */

.foot-background {
  background-color: #09162e;
}

.foot-content1 {
  padding: 0px 120px 0px 120px;
}

.foot-content {
  height: 28vh;
  display: flex;
  justify-content: space-evenly;
}

hr {
  width: 100%;
  color: #17243c;
}

.foot-list {
  margin: 20px;
}

.foot-list ul{
  padding-left: 0;
  list-style-type: none;
  font-size: 15px;
}

.foot-list li a{
  text-decoration: none;
  color: #ced1da;
}

.foot-list p {
  color: #ced1da;
}

.foot-list h2 {
  color: #CCD4F1;
  font-size: 18px;
}

#mail-form {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

#form-group {
  padding-bottom: 5px;
  width: 100%;
}

#form-group label {
  display: flex;
  width: 75px;
  padding-bottom: 5px;
  color: #ced1da;
}

#form-group input {
  padding: 10px;
}

button {
  width: 100%;
  padding: 8px;
  background: transparent;
  cursor: pointer;
  color: #ced1da;
  border: #CCD4F1 3px solid;
}

.license {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ced1da;
}

.overall {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.overall-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.overall ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.overall li{
  margin-right: 15px;
}

.overall a {
  text-decoration: none;
  color: #CCD4F1;
}

.overall a:hover {
  color: #e3e6f0;
}

/* Web Responsiveness */

/* Home */
@media only screen and (max-width: 775px) {
  .sidebar-links {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .sidebar-links.active {
    display: inline;
    background-color: #09162e;
    height: 100vh;
  }

  .sidebar-links.active ul {
    flex-direction: column;
  }

  .sidebar-links.active li {
    margin: 2px;
    padding: 1rem;
    border-radius: 10px;
  }

  .sidebar-links.active a {
    margin-left: 0;
  }
  
  #nav-icon1 {
    width: 40px;
    position: relative;
    margin: 20px;
    cursor: pointer;
  }
  
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #8A92AD;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }  
}